<div class="deployment animated" ng-class="{shadow: $index==0, hideLog: $index != 0, fadeOutDown: $index > 2}" ng-repeat="deployment in deployments">
    <div class="deployStatus" ng-class="{bgGreen: statusBar($index)=='deployed', bgRed: statusBar($index)=='failed', bgBlue: statusBar($index)=='deploying', deployStatusActive: $index==0}"></div>
    <div class="deploymentDashboard">
        @*<div class="deploymentIcon"><i class="fa fa-bitbucket"></i></div>*@
        <div class="deploymentIcon"><img src="{{deployment.deploymentImage}}" /></div>
        <div class="deploymentInfo">

            <div class="row">
                <div class="deployedOn" ng-show="showElement('deploying',$index)">
                    <i class="fa fa-cog blue fa-spin"></i><span class="activeText blue">&nbsp;&nbsp;DEPLOYING....</span>
                </div>
                <div class="deployedOn" ng-show="showElement('deployed',$index) && $index == 0">
                    <i class="fa fa-check-circle green"></i><span class="activeText green">&nbsp;&nbsp;ACTIVE DEPLOYMENT:</span>&nbsp;&nbsp;{{deployment.dateDeployedUTCTicksUnix | date:'EEEE, MMMM d, y  h:mm a'}}
                </div>
                <div class="deployedOn" ng-show="$index != 0 && ( statusBar($index)=='deployed' || statusBar($index)=='failed')">
                    <i class="fa fa-check-circle green" ng-show="statusBar($index)=='deployed'"></i>
                    <i class="fa fa-exclamation-circle red" ng-show="statusBar($index)=='failed'"></i>
                    {{deployment.dateDeployedUTCTicksUnix | date:'EEEE, MMMM d, y  h:mm a'}}
                </div>
            </div>

            <div class="row">
                <div class="deployedMessage">{{deployment.commit.message}}</div>
            </div>

            <div class="row">
                <div class="deployedInfo">
                    <div class="deployCommitId">COMMIT:&nbsp;&nbsp;<a class="commitIdLink" href="https://bitbucket.org/Mr_Mint/voxelscape/commits/{{deployment.commit.rawNode}}">{{deployment.commit.nodeShort}}</a></div>
                    <div class="deployAuthor">AUTHOR:&nbsp;&nbsp;<span class="authorName">{{deployment.commit.author}}</span></div>
                    <div class="deployBranchName">BRANCH:&nbsp;&nbsp;<span class="branchName">{{deployment.commit.branch}}</span></div>
                </div>
            </div>

        </div>

        <div class="percentSpinnerContainer">
            <div id="percent"></div>
            <svg id="svg"></svg>
        </div>

        <div class="expander" onclick="showHideLog($(this),$(this).parent().parent())"><i class="fa fa-chevron-up"></i></div>
    </div>
    <div class="deploymentLog">
        <div class="rowDivider" ng-show="showElement('logPreparing',$index)"></div>
        <div class="logRow" ng-show="showElement('logPreparing',$index)">
            <div class="logIconStatus">
                <i class="fa fa-refresh fa-spin blue fast" ng-show="showElement('logPreparingInProgress',$index)"></i>
                <i class="fa fa-check-circle green" ng-show="showElement('logPreparingSuccess',$index)"></i>
                <i class="fa fa-exclamation-circle red" ng-show="showElement('logPreparingFailed',$index)"></i>
            </div>

            <div class="logTime">{{deployment.datePreparedUTCTicksUnix | date:'h:mm:ss a'}}</div>
            <div class="logMessage">Preparing deployment for commit id '{{deployment.commit.nodeShort}}'.</div>
        </div>
        <div class="rowDivider" ng-show="showElement('logPreparing',$index)"></div>
        <div class="logRow" ng-show="showElement('logUpdating',$index)">
            <div class="logIconStatus">
                <i class="fa fa-refresh fa-spin blue fast" ng-show="showElement('logUpdatingInProgress',$index)"></i>
                <i class="fa fa-check-circle green" ng-show="showElement('logUpdatingSuccess',$index)"></i>
                <i class="fa fa-exclamation-circle red" ng-show="showElement('logUpdatingFailed',$index)"></i>
            </div>
            <div class="logTime">{{deployment.dateUpdatedUTCTicksUnix | date:'h:mm:ss a'}}</div>
            <div class="logMessage">Updating the repository.</div>
        </div>
        <div class="rowDivider" ng-show="showElement('logUpdating',$index)"></div>
        <div class="logRow" ng-show="showElement('logBuilding',$index)">
            <div class="logIconStatus">
                <i class="fa fa-refresh fa-spin blue fast" ng-show="showElement('logBuildingInProgress',$index)"></i>
                <i class="fa fa-check-circle green" ng-show="showElement('logBuildingSuccess',$index)"></i>
                <i class="fa fa-exclamation-circle red" ng-show="showElement('logBuildingFailed',$index)"></i>
            </div>
            <div class="logTime">{{deployment.dateBuiltUTCTicksUnix | date:'h:mm:ss a'}}</div>
            <div class="logMessage">Building the project.</div>
            <div class="logViewLog blue" ng-click="viewLog('{{deployment.commit.rawNode}}')">View Log</div>
        </div>
        <div class="rowDivider" ng-show="showElement('logBuilding',$index)"></div>
        <div class="logRow" ng-show="showElement('logDeploying',$index)">
            <div class="logIconStatus">
                <i class="fa fa-refresh fa-spin blue fast" ng-show="showElement('logDeployingInProgress',$index)"></i>
                <i class="fa fa-check-circle green" ng-show="showElement('logDeployingSuccess',$index)"></i>
                <i class="fa fa-exclamation-circle red" ng-show="showElement('logDeployingFailed',$index)"></i>
            </div>
            <div class="logTime">{{deployment.dateDeployedUTCTicksUnix | date:'h:mm:ss a'}}</div>
            <div class="logMessage">Deployment successful.</div>
        </div>
        <div class="rowDivider" ng-show="showElement('logDeploying',$index)"></div>
    </div>
</div>
