<div class="bodyContainer">
    <div id="serverStatusContainer">
        @Html.Partial("_ServerStatusPartial")
    </div>

    <div id="deploymentsContainer">      
        @Html.Partial("_DeploymentPartial")
    </div>
</div>
