<div class="bodyContainer">
    <div id="serverStatusContainer">
        @Html.Partial("_ServerStatusTemplatePartial")
    </div>

    <div id="deploymentsContainer">
        @Html.Partial("_DeploymentTemplatePartial")
    </div>
    <div id="dimmer" ng-class="{show: showLog}"></div>
    <div id="logDisplay" ng-class="{show: showLog}" >
            <div class="loading logLoading" ng-class="{show: logLoading}">
                <h2>Loading</h2>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        <div ng-bind-html="logData"></div>
    </div>

    <div id="logClose" ng-class="{show: showLog}" ng-click="hideLog()"><i class="fa fa-times red"></i>close</div>
</div>
