<div class="bodyContainer">
    <div id="deploymentsContainer" ng-repeat="deployment in deployments" ng-animate="'my-slide-animation'" @*style="-webkit-transition-delay:{{$index * 500}}ms"*@>      
        @Html.Partial("_DeploymentPartial")
    </div>
</div>
