@{
    ViewBag.Title = "Dashboard";
}
<div class="bodyContainer">
    <div id="deploymentsContainer">
        
        <button class="testButton" onclick="append()">Test Append</button>
    </div>

</div>
@Html.Partial("_DeploymentTemplatePartial")

@section Scripts{

    <script>
        function runTest() {
            $.ajax({
                url: "@(Url.Action("RunTestCase"))",
                type: "POST",
                dataType: "text"
            });
        }
    </script>
}