<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <!-- POST hook token-->
  <PostToken></PostToken>
  
  <!-- Path to builder -->
  <builder></builder>
  
  <!-- Path to builder working directory -->
  <builderWorkingDirectory></builderWorkingDirectory>
  
  <!-- Path to save build logs -->
  <buildLogsPath></buildLogsPath>
  
  <!-- Local repositories path-->
  <localRepositoryPath></localRepositoryPath>
  
  <!-- Remote repositories uri -->
  <remoteRepositoryURI></remoteRepositoryURI>
  
  <!-- Git logs path -->
  <gitLogPath></gitLogPath>
  
  <!-- The path to the solution/project to build -->
  <buildTargetPath></buildTargetPath>

  <!-- Path to the private rsa key to authenticate with GIT via ssh -->
  <privateKeyPath></privateKeyPath>

  <!-- The password for the above private key -->
  <privateKeyPassword></privateKeyPassword>

  <!-- The servers to monitor -->
  <servers>

    <!-- Server-->
    <server>
      <serverName></serverName>
      <serverLogPath></serverLogPath>
    </server>

  </servers>

</configuration>