@{
    ViewBag.Title = "Status";
    ViewBag.Header = "ForeverDeploy";
}

<div id="currentDeployment" class="deployment">
    <div class="deploymentDashboard">
        <div class="deploymentIcon"></div>
        <div class="deploymentInfo">
            <div class="row">
                <div class="deployedOn"></div>
            </div>
            <div class="row">
                <div class="deployedMessage"></div>
            </div>
            <div class="row">
                <div class="deployedInfo">
                    <div class="deployCommitId">COMMIT: <a class="commitIdLink"></a></div>
                    <div class="deployAuthor">AUTHOR: <span class="authorName"></span></div>
                    <div class="deployBranchName">BRANCH: <span class="branchName"></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="deploymentLog">
    </div>
</div>

<div class="spinner small"></div>
<div class="spinner small"></div>
<div class="spinner small"></div>
<div class="spinner small"></div>
<div class="spinner small"></div>
<button onclick="runTest()">Test System</button>

<div class="percentSpinnerContainer">
    <div id="percent"></div>
    <svg id="svg"></svg>
    <p>
        <label for="perc-input">Percent:</label><input maxlength="2" type="text" id="input" value="65" /></p>
    <a class="btn" id="run">Run</a>
</div>

@section Scripts{

    <script>
        function runTest() {
            var GenerateNewAuthKey = $.ajax({
                url: "@(Url.Action("RunTestCase"))",
                type: "POST",
                dataType: "text"
            });
        }
    </script>
}