/* COLOR PALLETE
    blue: 5FC1F5
    gray: 52585C
    teal: 5FC2AF
    salmon: CA6D60
    red: F55F6A
    green: 408275
*/
.bodyContainer {
}

#deploymentsContainer {
}

#deploymentTemplate {
    display: none;
}

.deployment {
    width: calc(100% - 15px);
    background-color: #fff;
    font-size: 16px;
    padding: 2%;
    position: relative;
    float: left;
    transition: height .25s ease-in-out;
    overflow: hidden;
    height: 228px;
    margin-bottom: 15px;
}

    .deployment.shadow {
        box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.39);
    }

.deploymentDashboard {
    float: left;
    width: 100%;
    margin-bottom: 3px;
}

.deployment.hideLog {
    height: 90px;
}

.deploymentIcon {
    width: 90px;
    background-color: #5FC1F5;
    text-align: center;
    float: left;
}

    .deploymentIcon i {
        margin-right: 3px;
        margin-top: 2px;
        font-size: 70px;
        line-height: 90px;
        color: #fff;
    }


.deploymentInfo {
    margin-left: 2%;
    width: 85%;
    float: left;
    min-height: 105px;
}

.deployedOn {
    margin-top: -4px;
    font-size: 19px;
}

.deployedMessage {
    margin-top: -2px;
}

.deployedInfo {
    overflow: hidden;
    height: 100%;
}

.deployCommitId {
    float: left;
    width: 33%;
    word-break: break-all;
    height: 100%;
}

.commitIdLink {
    text-decoration: none;
    color: #5FC1F5;
    font-size: 14px;
}

    .commitIdLink:hover {
        text-decoration: underline;
    }

.deployAuthor {
    float: left;
    width: 33%;
}

.deployBranchName {
    float: left;
    width: 33%;
}

.deployStatus {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 5px;
    height: 100%;
    transition: all .5s linear;
    opacity: .5;
}

.deployStatusActive {
    opacity: 1;
}

.deployStatus.hidden {
    opacity: 0;
    display: inherit;
}

.fast {
    -webkit-animation: spin 1.25s infinite linear;
    -moz-animation: spin 1.25s infinite linear;
    -o-animation: spin 1.25s infinite linear;
    animation: spin 1.25s infinite linear;
}

.row {
    line-height: 34px;
    height: 33.5px;
    width: 100%;
    overflow: hidden;
}

.logIconStatus {
    width: 10%;
    float: left;
    text-align: center;
}

.logTime {
    width: 15%;
    float: left;
    font-size: 13px;
    line-height: 18px;
    min-height: 15px;
}

.logMessage {
    width: 65%;
    float: left;
    font-size: 14px;
}

.logViewLog {
    width: 10%;
    float: right;
    font-size: 14px;
}

.logRow {
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    width: 100%;
}

.rowDivider {
    float: left;
    width: 100%;
    margin: auto;
    border-bottom: solid 1px rgba(82, 88, 92, 0.38);
}

.activeText {
    font-size: 13px;
    font-weight: 600;
}

.expander {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

/* SERVER STATUS*/

.serverStatusContainer {
     width:150px;
     float:left;
}

.serverName {
}

.serverStatus {
}

.serverStatusBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    transition: background-color .5s linear;
}
