/* COLOR PALLETE
    blue: 5FC1F5
    gray: 52585C
    teal: 5FC2AF
    salmon: CA6D60
    red: F55F6A
    green: 408275
*/

html {
    /*background-color: rgb(226, 226, 226);*/
    /*background-color: rgb(32, 32, 32);*/
    /*background-color: #000;*/
    font-family: 'Lato', sans-serif;
}

header {
}

body {
    /*background-color: rgb(239, 238, 239);*/
    background: #313131;
    margin: 0px;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 15px;
    color: rgba(0, 0, 0, 0.32);
    /*background-color: rgb(226, 226, 226);*/
}

.nav {
    height: 31px;
    background-color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    width: 100%;
    float: left;
}

    .nav .brand {
        padding-left: 25px;
        color: #5fc2af;
        margin: 0px;
        font-size: 28px;
        line-height: 28px;
        font-weight: 300;
        float: left;
    }

.spacerRight {
    width: 25px;
    height: 20px;
    float: right;
}

.nav .navLink {
    text-align: center;
    color: #5fc2af;
    line-height: 28px;
    font-weight: 300;
    float: right;
    width: 125px;
}

    .nav .navLink a {
        color: #5fc2af;
        line-height: 28px;
        font-weight: 300;
        text-decoration: none;
    }

        .nav .navLink a:hover {
            color: #fff;
        }

.brandLogo {
    position: absolute;
    top: -35px;
    left: 30px;
    fill: #5FC2AF !important;
    width: 170px;
    opacity: .1;
    z-index: 1;
}

.bodyContainer {
    width: 800px;
    margin: auto;
}

.container {
    width: 100%;
}

#logDisplay {
    /*white-space: pre-wrap;*/
    position: fixed;
    top: 10px;
    height: calc(100% - 20px);
    width: 70%;
    left: 15%;
    background-color: #fff;
    box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.39);
    opacity: 0;
    display: none;
    overflow: scroll;
    font-size: 12px;
}

    #logDisplay.show {
        opacity: 1;
        display: inherit;
    }

#dimmer {
    /*white-space: pre-wrap;*/
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.68);
    opacity: 0;
    display: none;
}

    #dimmer.show {
        opacity: 1;
        display: inherit;
    }

#logClose {
    position: absolute;
    top: 10px;
    left: 85.2%;
    background-color: #fff;
    opacity: 0;
    display: none;
    background-color: #F0F0F0;
    padding: 5px;
}

    #logClose.show {
        opacity: 1;
        display: inherit;
    }

.loading.logLoading {
    padding-top: 40%;
    opacity: 0;
    display: none;
    z-index: 10;
}

    .loading.logLoading.show {
        opacity: 1;
        display: inherit;
    }

.blue {
    font-size: 18px;
    color: #5FC1F5;
}

.gray {
    font-size: 18px;
    color: #52585C;
}

.teal {
    font-size: 18px;
    color: #5FC2AF;
}

.salmon {
    font-size: 18px;
    color: #CA6D60;
}

.red {
    font-size: 18px;
    color: #F55F6A;
}

.green {
    font-size: 18px;
    color: #408275;
}

.bgBlue {
    background-color: #5FC1F5;
}

.bgGray {
    background-color: #52585C;
}

.bgTeal {
    background-color: #5FC2AF;
}

.bgSalmon {
    background-color: #CA6D60;
}

.bgRed {
    background-color: #F55F6A;
}

.bgGreen {
    background-color: #408275;
}

.hidden {
    display: none;
}

.testButton {
    position: fixed;
    top: 50px;
    right: 10px;
}

.getStartedContainer {
    background-color: #fff;
    padding: 15px;
    float: left;
    width: calc(100% - 30px);
    margin-bottom: 25px;
}

.getStartedStep {
    font-size: 20px;
    font-weight: 800;
}

.getStartedTitle {
    font-size: 20px;
}

.howItWorksContainer {
    background-color: #fff;
    padding: 15px;
    float: left;
    width: calc(100% - 30px);
    margin-bottom: 25px;
}

.normal {
    font-size: 16px;
}